
/license_plates_box/datasets/test
/license_plates_box/datasets/train
/license_plates_box/datasets/valid
/license_plates_text/dataset/train
/outputs
/license_plates_text/utils/__pycache__
/license_plates_text/model/__pycache__
/license_plates_text/__pycache__
/license_plates_box/__pycache__
img_crop.jpeg
img2.jpeg
img.jpeg
license_plates_box/weights/license_plates_detection.pt
license_plates_box/weights/license_plates_detection.onnx
license_plates_box/weights/yolo11n.pt
/license_plates_text/dataset/__pycache__
license_plates_text/weights/license_plates_text.pth
